body{
    background-color:  #f3f3f3;
    font-family: 'Montserrat', sans-serif;
}
.glr{
    border-style: solid;
    border-color: black;
    background-color: lightgray;
    color: black;
    padding: 15px;
    display: inline-block
}
.glr:hover{
    background-color: antiquewhite;
    color: darkslategrey;
}
#profile{
    padding: 50px;
    text-align: center;
    font-weight: bold;
}
#introduce{
    text-align: center;
}
#photoprof{
    border-radius: 50%;
    height: auto;
    max-width: 100%;
}
#aboutme{
    text-align: center;
    font-size: 24px;
    padding: 50px;
}
.page2{
    background-color: #a39193;
    font-size: 24px;
    color: white;
    text-align: center;
    padding-bottom: 50px;
}
#experience{
    padding: 50px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.line{
    padding: 80px;
}
.page3{
    background-color: #d4bab0;
}
#skill{
    font-weight: bold;
    text-align: center;
    color: black;
    padding: 50px;
}
#pict{
    text-align: center;
    color: black;
    font-size: 24px;
}
.cont{
    background-color: #af9f8c;
}
#contact{
    background-color: #af9f8c;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 50px;
}
#text{
    font-size: 24px;
    color: white;
    text-align: center;
    padding-bottom: 55px;
}
.page4-background{
    background-color: #af9f8c;
    display: flex;
}

.sub{
    display: flex;
    justify-content: center;
    align-content: center;
}

.foto{
    max-width: 100%;
    height: auto;
    justify-items: center;
}
#fotoo{
    margin-left: 60px;
}
.page5{
    background-color: #f0e7da;
}
#gallery{
    text-align: center;
    font-weight: bold;
    padding: 50px;
}
.photos{
    padding-bottom: 50px;
    max-width: 100%;
    height: auto;
}
.page6{
    background-color: #9da2ae;
}
#schedules{
    text-align: center;
    font-weight: bold;
    padding: 50px;
}
.page7{
    background-color: #e3e4e0;
}
#create{
    text-align: center;
    font-weight: bold;
    padding: 50px;
}