{% extends 'menu.html' %}
<!DOCTYPE html>
{% load static %}
{% block content %}
<html>
    <head>
        <title>Contacts</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/web.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="page4-background">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 id="contact">CONTACT ME</h1>
                    </div>
                </div>
                <div class="d-flex-row sub flex-wrap">
                    <div class="col-md-4 sub flex-wrap">
                        <div class="foto sub">
                            <img src="{% static 'images/gmail-logo.png' %}" alt="Gmail" height="40" width="40" class="img ml-3 mr-3">
                        </div>
                        <p class="flex-wrap" id="text">rifqihilmans21@gmail.com</p>
                    </div>
                </div>
                <div class="d-flex-row sub flex-wrap">
                    <div class="col-md-4 sub flex-wrap">
                        <div class="foto">
                            <img src="{% static 'images/instagram-logo.png' %}" alt="Instagram" height="40" width="40" class="img ml-3 mr-3" >
                        </div>
                        <p class="flex-wrap" id="text">instagram.com/rifqihilmans</p>
                    </div>
                </div>
                <div class="d-flex-row sub flex-wrap">
                    <div class="col-md-4 sub flex-wrap">
                        <div class="foto">
                            <img src="{% static 'images/twitter-logo.png' %}" alt="Twitter" height="40" width="40" class="img ml-3 mr-3">
                        </div>
                        <p class="flex-wrap" id="text">twitter.com/rifqihilmans</p>
                    </div>
                </div>
                <div class="d-flex-row sub flex-wrap">
                    <div class="col-md-4 sub flex-wrap">
                        <div class="foto">
                            <img src="{% static 'images/facebook-logo.png' %}" alt="Facebook" height="40" width="40" class="img ml-3 mr-3">
                        </div>
                        <p class="flex-wrap" id="text">facebook.com/rifqi-hilman</p>
                    </div>
                </div>
                <div class="d-flex-row sub flex-wrap">
                    <div class="col-md-4 sub flex-wrap">
                        <div class="foto">
                            <img src="{% static 'images/linkedin-logo.png' %}" alt="Linkedin" height="40" width="40" class="img ml-3 mr-3">
                        </div>
                        <p class="flex-wrap" id="text">linkedin.com/rifqi-hilman</p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}