{% extends 'menu.html' %}
{% load static %}


{% block content %}
    <div class="container-fluid page7">
        <div class="row">
            <div class="col-md-12">
                <h1 id="create">CREATE SCHEDULES</h1>
                <form method="POST" action="{% url 'homepage:create' %}">
                    {% csrf_token %}
                    {% for form in jadwal_form %}
                        <div class="form-group">
                            {{form.label}}
                            {{form}}
                        </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-primary" value="Submit" id="button">
                </form>
            </div>
        </div>
    </div>


{% endblock %}