{% extends 'menu.html' %}
<!DOCTYPE html>
{% load static %}
{% block content %}
<html>
    <head>
        <title>Experiences</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/web.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="row page2">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div>
                    <h1 id="experience">Experiences</h1>
                </div>
            </div>
        </div>
        <div class="row page2">
            <div class="col-md-3">
                <p>Pemira Fasilkom UI<br>as<br> Staff of Supervisory</p>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <p>COMPFEST<br>as<br> Staff of Digital Marketing</p>
            </div>
            <!-- <img src="line.svg" class = "line"> -->
        </div>
        <div class="row page2">
            <div class="col-md-12">
            </div>
        </div>
        <div class="row page2">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <p>Computers Get Together <br>as<br> Staff of Bazaar and Food</p>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <p>PMB Fasilkom UI<br>as<br> Staff of Academic Division</p>
            </div>
        </div>
    </body>
</html>
{% endblock %}