{% extends 'menu.html' %}
<!DOCTYPE html>
{% load static %}
{% block content %}
<html>
    <head>
        <title>Gallery</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/web.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    </head>
     <body>
        <div class="row page5">
            <div class="col-md-12">
                <h1 id="gallery">GALLERY</h1>
            </div>
        </div>
            <div class="row page5">
                <div class="col-md-4 photos">
                    <img src="{% static 'images/cgt_bazkom.jpg' %}" alt="CGT" height="300" width="400" class="img-fluid">
                </div>
                <div class="col-md-4 photos">
                    <img src="{% static 'images/compfest_dgm.jpg' %}" alt="COMPFEST" height="300" width="400" class="img-fluid">
                </div>
                <div class="col-md-4 photos">
                    <img src="{% static 'images/pemira_verpeng.jpg' %}" alt="Pemira" height="300" width="400" class="img-fluid">
                </div>
            </div>
            <div class="row page5">
                <div class="col-md-4 photos">
                    <img src="{% static 'images/pmb_akademis.jpg' %}" alt="PMB" height="300" width="400" class="img-fluid">
                </div>
                <div class="col-md-4 photos">
                    <img src="{% static 'images/compfest_dgm2.jpg' %}" alt="COMPFEST" height="300" width="400" class="img-fluid">
                </div>
                <div class="col-md-4 photos">
                    <img src="{% static 'images/cgt_bazkom2.jpg' %}" alt="CGT" height="300" width="400" class="img-fluid">
                </div>
            </div>
     </body>
</html>
{% endblock %}