{% extends 'menu.html' %}
<!DOCTYPE html>
<html>
{% load static %}

{% block content %}
<head>
        <title>My Website</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'js/bootstrap.min.js' %}">
        <link rel="stylesheet" href="{% static 'css/web.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
    <body>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h1 id="profile">PROFILE</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h2 id="introduce">Hello, my name is Rifqi Hilman Saputra</h2>
                    <h2 id="introduce">I am Information System Student at University of Indonesia</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div id="photoprof">
                    <img src="{% static 'images/photo.jpg' %}" alt="Rifqi Hilman" height="250" width="250" class="rounded-circle mx-auto d-block" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <div id="aboutme">
                    <p>About me</p><br>
                    <p>I am passionate on coding and design</p>
                </div>
            </div>
        </div>
    </body>
</html>
{% endblock %}