{% extends 'menu.html' %}
<!DOCTYPE html>
{% load static %}
{% block content %}
<html>
    <head>
        <title>Skills</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/web.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="row page3">
            <div class="col-md-12">
                <h1 id="skill">SKILLS</h1>
            </div>
        </div>
        <div class="row page3">
            <div class="col-md-4">
                <img src="{% static 'images/coding.jpg' %}" alt="coding" height="200" width="310" class="rounded" id="fotoo" class="img-fluid">
                <p id="pict">Coding</p>
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/design.jpg' %}" alt="design" height="200" width="310" class="rounded" id="fotoo" class="img-fluid">
                <p id="pict">Graphic Design</p>
            </div>
        </div>
        <div class="row page3">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <img src="{% static 'images/data.jpg' %}" alt="data" height="200" width="310" class="rounded mx-auto d-block" class="img-fluid">
                <p id="pict">Data Analyst</p>
            </div>
        </div>
    </body>
</html>
{% endblock %}